<div id="<%= dom_id subscryption %>">
  <p>
    <strong>Price:</strong>
    <%= subscryption.price %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= subscryption.level %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= subscryption.library_id %>
  </p>

</div>
