<h1>Editing subscryption</h1>

<%= render "form", subscryption: @subscryption %>

<br>

<div>
  <%= link_to "Show this subscryption", @subscryption %> |
  <%= link_to "Back to subscryptions", subscryptions_path %>
</div>
