<div id="<%= dom_id user %>">
  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

  <p>
    <strong>Library:</strong>
    <%=Library.find_by_id(user.library_id).name + ' ' + Library.find_by_id(user.library_id).department%>
  </p>

</div>
