<div id="<%= dom_id library %>">
  <p>
    <strong>Name:</strong>
    <%= library.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= library.department %>
  </p>
  <p>
    <strong>ID:</strong>
    <%= library.id %>
  </p>
</div>
